@inject IOptions<BaseEmailSenderOptions> _config
@using HutchManager.Config
@using HutchManager.Models.Emails
@model HutchManager.Models.Emails.TokenEmailModel

@{
    ViewBag.Subject = $"Reset your {_config.Value.ServiceName} Account Password";
    ViewBag.Heading = "Password Reset";

    var actionButton = "Reset password";
    var resendLink = "Send me a new password reset email.";
}

<p>@Model!.RecipientName,</p>

<p>A password reset link was requested for your @_config.Value.ServiceName User Account.</p>

<p>If you didn't request to reset your password, you can ignore this email.</p>

<p>To continue with the reset, please click below.</p>

@await Html.PartialAsync("_EmailButton", new EmailButtonModel(actionButton, Model.ActionLink))

<p>The reset link is only valid for a limited time; click below if you need to request a fresh link.</p>

<a href="@Model.ResendLink">@resendLink</a>
